doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/demo/demo.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main')
                | Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li.active
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='#')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='#')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='#')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li
                    a(href='#')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='#')
                        i.nc-icon.nc-user-run
                        p Log Out
    .main-panel
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    a.navbar-brand(href='#') Quản Lý Thể Loại
                #navigation.collapse.navbar-collapse.justify-content-end
                    a.btn.btn-primary.justify-content-center(href='#' role='button') Tạo Tài Khoản
                    form.ml-2
                        .input-group.no-border
                            input.form-control(type='text' value='' placeholder='Search...')
                            .input-group-append
                                .input-group-text
                                    i.nc-icon.nc-zoom-split
                    ul.navbar-nav
                        li.nav-item.btn-rotate.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                i.nc-icon.nc-tile-56
                            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                                a.dropdown-item(href='#') Tất cả tài khoản
                                a.dropdown-item(href='#') Tài khoản Admin
                                a.dropdown-item(href='#') Tài khoản khách hàng
                                a.dropdown-item(href='#') Tài khoản bị khóa
        .content
            .row
                .col-md-12
                    .card
                        .card-body
                            .table-responsive   
                                table.table
                                    thead.text-primary
                                        th Tên thể loại
                                        th Ảnh minh họa
                                        th Ngày thêm
                                        th  Ngày sửa
                                        th Ngày xóa
                                        th
                                    tbody
                                        each category in listCategory
                                            tr
                                                td= category.category_name
                                                td
                                                    .card(style='width: 8rem;')
                                                        img.card-img-top(src=category.category_image, alt="")
                                                td= category.created_at
                                                td= category.updated_at
                                                td= category.deleted_at
                                                td  
                                                    .btn-group
                                                        button.btn.btn-danger(type='button') Chức Năng
                                                        button.btn.btn-danger.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                                            span.sr-only Toggle Dropdown
                                                            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                                                                a.dropdown-item(href='#') Sửa thể loại
                                                                a.dropdown-item(href='#') Xóa thể loại
        //- .dropdown.show.d-inline-block.widget-dropdown
        //-     a#dropdown-recent-order1.dropdown-toggle.icon-burger-mini(href='' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' data-display='static')
        //-     ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdown-recent-order1')
        //-         a(href='/category/getUpdateCategory/'+category.category_id )
        //-             li.dropdown-item
        //-                 | Sửa Thể Loại
        //-         a(href='/category/remove/'+category.category_id   )
        //-             li.dropdown-item
        //-                 | Xóa Thể Loại
// Core JS Files
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/demo/demo.js

