doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/demo/demo.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main')
                | Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li.active
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='#')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='#')
                        i.nc-icon.nc-user-run
                        p Log Out
    .main-panel
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    .navbar-toggle
                        button.navbar-toggler(type='button')
                            span.navbar-toggler-bar.bar1
                            span.navbar-toggler-bar.bar2
                            span.navbar-toggler-bar.bar3
                    a.navbar-brand(href='javascript:;') Thông Tin Người Dùng 

        .content
            .row
                .col-md-4
                    .card.card-user
                        .image
                            img(src='https://res.cloudinary.com/cde/image/upload/v1658717372/my-photo/tai-hinh-anh-bien-dep-nhat-tren-the-gioi-lam-hinh-nen-4_ctr1gu.jpg' alt='...')
                        .card-body
                            .author
                                a(href='/user/userDetail/?user_id=' + user.user_id method="GET")
                                    img.avatar.border-gray(src=user.avatar alt='...')
                                    h5.title= user.user_name
                                p.title= "ID : "+user.user_id
                            p.description.text-center Triết Lý các thứ các kiểu  bla bla bla...
                            //- "Tôi có ông sinh năm 96 tự mày mò học code rồi đi làm remote cho công ty Mỹ Đình 2 năm nay.
                                | Mỗi tối online 13-14 giờ là xong việc. Lương tháng 3 trẹo 6
                                | Nhưng thu nhập chính vẫn là từ nhận các project bên ngoài làm thêm.
                                | Tuần làm 2,3 cái lòi tr* 3,400k VNĐ tiền tươi thóc thật không phải đóng thuế. 
                                |Làm gần được 3 năm hỏng thận nhà xe đã bán cả để chữa bệnh. Nghĩ mà sợ @_@ "
                        .card-footer
                            hr
                            .button-container
                                .row
                                    .col-lg-4.col-md-6.col-6.ml-auto
                                        small Đơn đã đặt
                                        h5=donDaDat
                                    .col-lg-4.col-md-6.col-6.ml-auto.mr-auto
                                        small Đơn đã hủy , hoàn
                                        h5= donDaHuy
                                    .col-lg-4.mr-auto
                                        small Đã chi
                                        h5= doanhThu + "đ"
                    .card
                        .card-header
                            h4.card-title 3 Đơn gần nhất
                        .card-body
                            ul.list-unstyled.team-members
                                li
                                    .row
                                        .col-md-3.col-2 Hóa Đơn
                                        .col-md-3.col-2 Số Tiền
                                        .col-md-3.col-2 Ngày đặt
                .col-md-8
                    .card.card-user
                        .card-header
                            h5.card-title  Profile Details
                        .card-body
                            form
                                .row
                                    .col-md-5.pr-1
                                        .form-group
                                            label Tên Người Dùng
                                            input.form-control(type='text' disabled  value=user.user_name)
                                    .col-md-3.px-1
                                        .form-group
                                            label Số Điện Thoại
                                            input.form-control(type='text' disabled value=user.phone)
                                    .col-md-2.pl-1
                                        .form-group
                                            label(for='exampleInputEmail1') Giới Tính
                                            if(user.gender==2)
                                                input.form-control(type='text' disabled value="Nữ")
                                            else if (user.gender==1)
                                                input.form-control(type='text' disabled value="Nam")
                                            else
                                                input.form-control(type='text' disabled value="Không Xác Định")
                                .row
                                    .col-md-6.pr-1
                                        .form-group
                                            label Ngày Sinh
                                            input.form-control(type='text' disabled  value=user.date_of_birth)
                                    .col-md-6.pl-1
                                        .form-group
                                            label Địa Chỉ
                                            input.form-control(type='text' disabled  value=user.address)
                                .row
                                    .col-md-6.pr-1
                                        .form-group
                                            label Loại Tài Khoản
                                            input.form-control(type='text' disabled  value=user.permission)
                                    .col-md-6.pl-1
                                        .form-group
                                            label Tình Trạng
                                            if (user.active==0)
                                                input.form-control(type='text' disabled  value="Đang Hoạt Động")
                                            if (user.active==1)
                                                input.form-control(type='text' disabled  value="Đã Bị Block")
                                .row
                                    .col-md-3.pr-1
                                        .form-group
                                            label Ngày Tạo Tài Khoản
                                            input.form-control(type='text' disabled  value=user.created_at)
                                .row
                                    .update.ml-auto.mr-auto
                                        if(user.permission !="super admin")
                                            if (user.active==0) 
                                                a.btn.btn-danger(href='/user/remove/'+user.user_id role='button') Khóa Tài Khoản
                                            if (user.active==1)
                                                a.btn.btn-primary(href='/user/active/'+user.user_id role='button')  Mở Khóa
// Core JS Files
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/demo/demo.js
script 
    include ./assets/js/plugins/bootstrap-notify.js
// Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc
script(src='../assets/js/paper-dashboard.min.js?v=2.0.1' type='text/javascript')
// Paper Dashboard DEMO methods, don't include it in your project!
script(src='../assets/demo/demo.js')
