doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/demo/demo.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main')
                | Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li.active
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='#')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='#')
                        i.nc-icon.nc-user-run
                        p Log Out
    .main-panel
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    a.navbar-brand(href='#') Quản Lý Tài Khoản
        .content
            .container-fluid
                .row
                    .col-md-6
                        form.ml-2.mb-2.align-self-center
                            .input-group.no-border
                                input#myInput.form-control(onkeyup='searchUser()' type='text' name='search' placeholder='Search...')
                                .input-group-append
                                    .input-group-text
                                        i.nc-icon.nc-zoom-split
                        a.btn.btn-primary.align-self-center(href='/user/insertUser' role='button') Tạo Tài Khoản
                        .btn-group
                            button.btn.btn-info(type='button') Lọc 
                            button.btn.btn-info.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                span.sr-only Toggle Dropdown
                            .dropdown-menu
                                a.dropdown-item(href='/getUser') Tài khoản khách hàng
                                a.dropdown-item(href='#') Tài khoản nhân viên
                                a.dropdown-item(href='#') Tài khoản đang bị khóa
            .row
                .col-md-12
                    .card
                        .card-header
                            h4.card-title  Danh sách người dùng
                        .card-body
                            .table-responsive
                                table#myTable
                                    thead.header.text-primary
                                        th STT
                                        th Tên 
                                        th Số Điện Thoại
                                        th Giới Tính
                                        th Loại Tài Khoản
                                        th Tình Trạng
                                        th Xem chi tiết
                                    tbody
                                        each user,index in listUser  
                                            tr
                                                td= index+1
                                                td
                                                    a.text-dark(href='/user/userDetail/?user_id='+user.user_id )= user.user_name
                                                td= user.phone
                                                if (user.gender===1)
                                                    td Nam
                                                else  
                                                    td Nữ
                                                td= user.permission
                                                if (user.active===0)
                                                    td Hoạt Động
                                                else  
                                                    td Bị Khóa
                                                td
                                                    a.btn.btn-primary(href='/user/userDetail/?user_id='+user.user_id ) Xem chi tiết
                            nav.d-flex.justify-content-end(aria-label='...')
                                ul.pagination
                                    li.page-item
                                        -var number1=parseInt(pageNumber)-1
                                        if(number1>0)
                                            a.page-link(href='/user/?pageNumber='+number1 ) Previous
                                    each page in listPage
                                        if(page==pageNumber)
                                            li.page-item.active
                                                a.page-link(href='/user/?pageNumber='+page)=page
                                                span.sr-only (current)= index
                                        else 
                                            li.page-item
                                                a.page-link(href='/user/?pageNumber='+page)= page
                                    li.page-item
                                        -var number2= parseInt(pageNumber)+1
                                        if(number2 <= listPage.length)
                                            a.page-link(href='/user/?pageNumber='+number2) Next  

// Core JS Files
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/demo/demo.js
script
    include ./assets/js/main.js



